/*Body*/

body {
    margin: 0;
    padding: 0;
    background-color:hsl(0,0%,80%)
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.body-wrapper {
    margin: 5%;
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    padding: 0 2% 0 2%;
}

/*Font*/

.vollkorn-bold{
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*Navbar Items*/

.flex-nav-div{
display: flex;
align-items: center;

justify-content: space-between;
padding: 0 2% 0 2%;

}
.left-nav-menu{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a, .left-nav-menu{
    text-decoration: none;
    color: black;
}
.center-nav-text{
   
}
.nav-header{
   
}

.blank {
    width: 20vw;
}

/*Banner*/

.banner {
    width: 100vw;
    height: 40vh;
    background-color: black;
}

/*Main*/

h1 {
    font-size: 2rem;
    text-align: center;
}

/*Card Stuff*/

.card-holder{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-auto-flow: row;
    gap: 5%;
}

.card {
 height: 18rem;
 background-color:hsl(0,0%,100%);
 padding: 0 2% 5% 2%;
 box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.artwork-name{
  font-size: 1rem;
  padding: 5% 0 5% 0;
  text-align: center;
}

.card-img {
    min-width: 100%;
    background-color: gray;
}

.rights-h3 {
    font-size: .3rem;
    text-align: center;

}

/*Footer*/
footer {
width: 100vw;
height: 10vh;
background-color: black;
}
.footer-wrapper {
display: flex;
align-items: center;
justify-content: center;
}
.footer-h3{
    font-size: .7rem;
    color: whitesmoke;
}